.grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 16px;

  padding: 18px;
}

.card {
  background: white;

  border-radius: 22px;

  overflow: hidden;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

.card img {
  width: 100%;

  aspect-ratio: 1/1;

  object-fit: cover;
}

.info {
  padding: 14px;
}

.info h3 {
  margin: 0;

  font-size: 15px;

  color: #111827;
}

.info p {
  margin: 10px 0 0;

  font-size: 16px;

  font-weight: 700;

  color: #7c3aed;
}
